body {
    font-family: RobotoDraft, sans-serif;
    color: #333;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
.content > p > em {
    font-size: .8em;
}
section {
    margin: 20px;
}
a,
a:hover {
    text-decoration: none;
}
core-toolbar {
    background-color: #455ede;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1.5em;
}
paper-button {
    margin: 0.5em 1em 0.5em 0;
    width: 10em;
}
paper-button[right] {
    position: fixed;
    right: 0;
}
paper-checkbox {
    margin-left: 1em;
}
paper-fab {
    position: absolute !important;
    top: 35px;
    right: 1em;
    z-index: 1;
}
paper-tabs {
    background-color: #5677fc;
    color: #fff;
}
paper-tabs[noink][nobar] paper-tab.core-selected {
    color: #ffff8d;
}

#label, #arrow, paper-item {
    color: #56BA89;
}

core-item.core-selected {
    color: #56BA89;
}

#navheader {
    background-color: #56BA89;
}
.content {
    padding: 20px;
}
/* drawer is always visible on a wide screen
   so menu button isn't required */

core-drawer-panel:not([narrow]) #navicon {
    display: none;
}